<%- include("partials/header") %> 
<h1>This is the home page!</h1>

<img src="https://www.rover.com/blog/wp-content/uploads/2019/11/pomsky-puppy-flickr-800x540.jpg">

<%- include("partials/footer") %> 